@import "normalize.scss";

@import "variables.scss";
@import "mixins.scss";

@import "global/fonts.scss";
@import "global/type.scss";
@import "global/visually-hidden.scss";

@import "blocks/page.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/stats.scss";
@import "blocks/advantages.scss";
@import "blocks/news.scss";
@import "blocks/reviews.scss";
@import "blocks/page-footer.scss";
@import "blocks/inner-page.scss";
@import "blocks/portfolio.scss";
@import "blocks/price.scss";
@import "blocks/enroll.scss";
