.advantages {
  padding-bottom: 10px;
  &__wrapper {
    @include l-mobile-center;
  }
  &__items {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  &__item {
    padding: 170px 45px 30px 45px;
  }
}
