.inner-page {
  background-color: $bg-content;
  &__header {
    @include container;
    padding-top: 33px;
    padding-bottom: 33px;
    text-align: center;
  }
  &__heading {
    margin: 0;
  }
  &__homepage-link {
    display: none;
  }
}
