.main-nav {
  width: 320px;
  margin: 0 auto;
  background-color: #826550;
  &--nojs {
    .main-nav__toggle {
      display: none;
    }
  }
  &__items {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style: none;
    min-height: 255px; /* temp */
  }
  &__user-items {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    list-style: none;
    min-height: 55px; /* temp */
  }
}

@media #{$tablet-widths} {
  .main-nav {
    width: auto;
    min-height: 70px;
    margin: 0;
    &__wrapper {
      @include container;
      @include clearfix;
    }
    &__items {
      float: left;
      width: 570px;
      min-height: 70px;/* temp */;
    }
    &__user-items {
      float: right;
      width: 60px;
      min-height: 70px;/* temp */
    }
  }
}

@media #{$desktop-widths} {
  .main-nav__items {
    width: 780px;
  }
  .main-nav__user-items {
    width: 160px;
  }
}
