.page-header {
  @include l-mobile-center;
  &__logo {
    padding-top: 29px;
    padding-bottom: 26px;
    background-color: #242424;
    text-align: center;
  }
  img {
    vertical-align: top;
  }
}
