.page-footer {
  padding-top: 39px;
  padding-bottom: 23px;
  background-color: #292929;
  text-align: center;
  &__wrapper {
    @include container;
  }
  &__contacts {
    margin-top: 0;
  }
  &__copyright {
    margin-bottom: 0;
  }
}
