.price {
  background-color: $bg-content-dark;
  text-align: center;
  &__wrapper {
    @include container;
    padding: 35px 20px 50px 20px;
  }
  &__heading {
    margin-top: 0;
  }
  &__table {
    width: 100%;
    text-align: left;
  }
  &__cost {
    text-align: right;
  }
}
