.reviews {
  padding: 30px 39px 18px 20px;
  background-color: #ffffff;
}

.reviews__wrapper {
  @include container-fluid;
}

.reviews__title {
  margin-top: 0;
}

.reviews__write {
  display: none;
}

.reviews__item {
  position: relative;
  margin: 0;
  padding-left: 70px;
}

.reviews__item:nth-child(n+2) {
  display: none;
}

.reviews__author-foto {
  position: absolute;
  top: 10px;
  left: 0;
}

.reviews__prev {
  display: none;
}

.reviews__next {
  display: none;
}

@media #{$tablet-widths} {

  .reviews {
    padding-top: 45px;
  }

  .reviews__wrapper {
    position: relative;
  }

  .reviews__title {
    margin-right: 200px;
    margin-bottom: 55px;
  }

  .reviews__write {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .reviews__prev {
    display: block;
    float: left;
  }

  .reviews__next {
    display: block;
    float: right;
  }
}
